{% extends '::adminBase.html.twig' %}

{% block body %}

    <h3>Add poster for movie: {{ movie.title }} ({{ movie.yearOfProduction }})</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Add">
    {{ form_end(form) }}

{% endblock %}