{% extends '::base.html.twig' %}

{% block body %}

    {{ movie.title }} ({{ movie.yearOfProduction }})

    <h5>CAST:</h5>

    <p>Add cast to movie:</p>
    <form action="" method="POST">
        <select name="castId">
            {% for cast in entireCast %}
                <option value="{{ cast.id }}">{{ cast.fullName }}</option>
            {% endfor %}
        </select>
        <select name="roleId">
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add to movie">
    </form>

{% endblock %}