{% extends '::base.html.twig' %}

{% block body %}

    {{ movie.title }} ({{ movie.yearOfProduction }})

    <h5>CAST:</h5>

    {% for movieCastRole in movie.movieCastRoles %}
        <p>{{ movieCastRole.role.name }}: {{ movieCastRole.cast.fullName }}</p>
    {% else %}
        <p>no cast</p>
    {% endfor %}

    <a href="{{ path('app_movie_addcastasrole', {'movieId': movie.id}) }}">Add cast</a>

{% endblock %}